<p>Date of rendering: <%=      new Date().toJSON().replace(/-/g, '_'); %></p>
<p>_lastContactCacheUpdate: <%= ContactInfo._lastContactCacheUpdate %></p>
<p>id: <%= ContactInfo.id %></p>

<p>_displayName: <%= ContactInfo._displayName %></p>
<p>name: <%= ContactInfo.name %></p>
<p>displayNameMD5: <%= ContactInfo.displayNameMD5 %></p>
<p>companyName: <%= ContactInfo.companyName %></p>
<p>loginEmail: <%= ContactInfo.loginEmail %></p>
<p>nickName: <%= ContactInfo.nickName %></p>
<p>title: <%= ContactInfo.title %></p>
<p>jobTitle: <%= ContactInfo.jobTitle %></p>
<p>country: <%= ContactInfo.country %></p>
<p>timezone: <%= ContactInfo.timezone %></p>
<p>organisationId: <%= ContactInfo.organisationId %></p>
<p>siteId: <%= ContactInfo.siteId %></p>
<p>companyId: <%= ContactInfo.companyId %></p>
<p>jid_im: <%= ContactInfo.jid_im %></p>
<p>jid: <%= ContactInfo.jid %></p>
<p>jid_tel: <%= ContactInfo.jid_tel %></p>
<p>jidtel: <%= ContactInfo.jidtel %></p>
<p>avatar: <%= ContactInfo.avatar %></p>
